@import url("/assets/css/index.css");
* {
	margin: 0;
	padding: 0;
}
/* top-image */
.top-image {
	width: 100%;
	height: 400px;
}
.top-image img {
	width: 100%;
	height: 400px;
}

/* contact-us */
.contact-us {
	padding-top: 10px;
}
.contact-us-h1 {
	font-family: var(--title-font);
	text-align: center;
	padding: 40px 10px;
}
.contact-us-h1:after {
	content: "";
	padding-top: 5px;
	width: 10%;
	border-bottom: 5px solid var(--universe);
	display: block;
	margin: auto;
}
.form h4 {
	font-family:  "Satisfy", cursive;
	padding-bottom: 15px;
	font-size: 30px;
	color: var(--universe);
}
.form label {
	font-weight: var(--paragraph-font);
}
#map{
	height: 400px;
}