/* fonts links */
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap");

* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}

/* variables */
:root {
	--title-font: "Grenze Gotisch", cursive;
	--paragraph-font: "Play", sans-serif;
	--universe: goldenrod;
	--box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--bc: #000000;
	--wc: #ffffff;
	--transparent-color: rgba(27, 39, 55, 0.65);
	--uppercase: uppercase;
	--curve-sides: 5px;
	--ts: 1px 1px 1px black;
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}



/* short codes */
.txtShadow {
	text-shadow: var(--ts);
}
.m-bt-5 {
	margin-bottom: 15px;
}

.adjust-container {
	margin-top: 7em;
}

/* top of page */
.top {
	width: 100%;
	height: auto;
	background-color: beige;
	align-items: center;
	margin: 0;
	padding: 5px;
}

.top button {
	background-color: var(--bc);
	color: var(--wc);
	margin-top: 2px;
	width: 100%;
	height: auto;
	border: none;
	outline: none;
	/* border: 2px solid var(--universe); */
	padding: 10px;
	border-radius: 4px;
}

.top button:hover {
	box-shadow: 1px 3px 5px -4px black;
	transition: all 0.4s ease-in-out;
}

.top p {
	font-family: var(--paragraph-font);
	font-weight: 600;
}

.nav-item:hover {
	border-bottom: 4px solid var(--bc);
}

.hotel-name {
	font-size: 30px;
	font-family: var(--title-font);
}
.links {
	font-family: "Play", sans-serif;
}

/* carousel */
.carousel {
	position: relative;
	top: 3em;
}

.carousel-item img {
	height: 450px;
}

.carousel-caption {
	background-color: var(--transparent-color);
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 50%;
}
.title-slide {
	position: relative;
	top: 8em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.arrange-text {
	/* text-align: center; */
	font-size: 18px;
	font-family: cambria;
	font-weight: 400;
	text-transform: var(--uppercase);
	background-color: green;
	width: 400px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Dancing Script", cursive;
}
.title-text {
	background-color: brown;
	text-transform: var(--uppercase);
	width: 360px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 15px;
}
.title-slide button {
	background-color: var(--universe);
	border: none;
	outline: none;
	width: 25%;
	height: 70px;
	border-radius: var(--curve-sides);
}

form .form-row {
	background-color: beige;
	margin-top: -16px;
}
.booknow-inputs {
	display: flex;
	color: var(--bc);
	height: 70px;
	width: 53%;
	justify-content: center;
	align-items: center;
}

.booknow-inputs small {
	display: block;
	height: 20px;
}
.booknow-inputs input[type="submit"] {
	background-color: var(--bc);
	color: var(--wc);
	width: 100px;
	border: none;
	outline: none;
	height: 37px;
	margin-top: 5px;
}
.option-inputs select,
input {
	width: 160px;
	height: 40px;
	border: 2px solid var(--bc);
}

/* text about providus */
.text {
	display: block;
	text-align: center;
	padding-top: 130px;
}
.text h1 {
	font-family: var(--title-font);
}
.text h1:after {
	content: "";
	display: block;
	margin: auto;
	width: 10%;
	padding-top: 5px;
	border-bottom: 5px solid var(--universe);
}
.text p {
	padding: 0 20px 0 20px;
	font-family: var(--paragraph-font);
}
/* guest reviews */
.guest-reviews {
	padding-top: 20px;
}
.guest-reviews h1 {
	text-align: center;
	font-family: var(--title-font);
}
.guest-reviews .review-row {
	padding-top: 20px;
}
.guest-reviews .reviews {
	width: 100%;
	height: auto;
	/* background-color: bisque; */
}
.guest-reviews h1:after {
	content: "";
	margin: 0 auto;
	display: block;
	width: 10%;
	padding-top: 5px;
	border-bottom: 5px solid var(--universe);
}

.review {
	/* background: var(--clr-white); */
	padding: 1.5rem 2rem;
	border-radius: 0.25rem;
	box-shadow: var(--box-shadow);
	transition: all 0.3s linear;
	text-align: center;
}
.review:hover {
	box-shadow: var(--dark-shadow);
}
.img-container {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}
#person-img {
	width: 100%;
	display: block;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	position: relative;
}
.img-container::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f10e";
	position: absolute;
	top: 0;
	left: 0;
	width: 2.5rem;
	height: 2.5rem;
	display: grid;
	place-items: center;
	border-radius: 50%;
	transform: translateY(25%);
	/* background: var(--clr-primary-5); */
	/* color: var(--clr-white); */
}
.img-container::before {
	content: "";
	width: 100%;
	height: 100%;
	background: var(--bc);
	position: absolute;
	top: -0.25rem;
	right: -0.5rem;
	border-radius: 50%;
}
#guest {
	margin-bottom: 0.25rem;
}

#guest_review {
	margin-bottom: 0.75rem;
}
.prev-btn,
.next-btn {
	color: var(--universe);
	font-size: 1.25rem;
	background: transparent;
	border-color: transparent;
	margin: 0 0.5rem;
	transition: all 0.3s linear;
	cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
	color: var(--universe);
}

.review-bonus {
	width: 80%;
	margin: 12px auto;
	height: 120px;
	background-color: var(--bc);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.review-bonus p {
	color: var(--universe);
	font-family: var(--paragraph-font);
	font-size: 20px;
	text-align: center;
}
.review-bonus button {
	border: none;
	outline: none;
	padding: 5px;
	font-weight: bold;
}
/* Key amenities */
.key-amenities {
	padding-top: 40px;
	text-align: center;
}
.key-amenities h1 {
	font-family: var(--title-font);
}
.key-amenities h1:after {
	content: "";
	margin: 0 auto;
	width: 10%;
	border-bottom: 5px solid var(--universe);
	display: block;
	padding-top: 5px;
}
.amenities i {
	font-size: 50px;
	color: var(--universe);
	padding-top: 20px;
}
.amenities small {
	display: block;
	font-size: 15px;
	font-family: var(--paragraph-font);
	padding-top: 10px;
}
.amenities button {
	border: none;
	outline: none;
	color: var(--universe);
	font-weight: bold;
	background-color: var(--bc);
	height: 40px;
	width: 100%;
	margin: 5px;
}

/* advert1 */
.advert1 {
	width: 100%;
	height: 250px;
	display: flex;
	background-color: beige;
	justify-content: center;
	align-items: center;
}
.ad1 {
	background-color: brown;
	width: 60%;
	height: 85%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.ad1-section1,
.ad1-section2,
.ad1-section3 {
	width: 30%;
	height: 80%;
	/* background: #000000; */
}
.ad1-section1,
.ad1-section2,
.ad1-section3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--wc);
}
.ad1-section1 h1 {
	font-family: var(--title-font);
}
.ad1-section2 h1 {
	font-size: 70px;
}
.ad1-section2 h1 {
	font-size: 40px;
	color: var(--universe);
}
.ad1-section2 p {
	font-size: 15px;
	text-align: center;
	font-family: "Dancing Script", cursive;
}
.ad1-section3 button {
	border: none;
	outline: none;
	width: 200px;
	height: 70px;
	background-color: var(--bc);
	color: var(--wc);
}

/* Guest room */

.guest-h1 {
	font-family: var(--title-font);
	text-align: center;
}
.guest-h1:after {
	content: "";
	padding-top: 5px;
	width: 10%;
	border-bottom: 5px solid var(--universe);
	display: block;
	margin: auto;
}

.room-image {
	width: 100%;
	height: 230px;
}
.room-image img {
	width: 100%;
	height: 100%;
}
.room-name {
	padding: 10px;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	font-family: var(--paragraph-font);
}
.room-desc {
	text-align: center;
	font-family: var(--paragraph-font);
}
.room {
	padding-bottom: 20px;
}

/*
=============== 
Hightlights section
===============
*/

.hightlights-h1 {
	font-family: var(--title-font);
	text-align: center;
	padding-top: 40px;
}
.hightlights-h1:after {
	content: "";
	padding-top: 5px;
	width: 10%;
	border-bottom: 5px solid var(--universe);
	display: block;
	margin: auto;
}
.learn-more {
	outline: none;
	border: none;
	color: sienna;
	margin-right: 5px;
	background-color: white;
}
.hightlight {
	height: 130px;
	border-left: 4px solid var(--universe);
	border-right: 4px solid var(--universe);
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	text-align: center;
}
.hightlight span {
	color: var(--universe);
}
/* .hightlight::after, */

/*
=============== 
Questions
===============
*/

.title h2 {
	color: #c59d5f;
	font-family: "Great Vibes", cursive;
	text-align: center;
}
.section-center {
	max-width: 620px;
}
.question {
	background: var(--wc);
	border-radius: 2px solid red;
	box-shadow: var(--box-shadow);
	padding: 1.5rem 1.5rem 0 1.5rem;
	margin-bottom: 2rem;
}
.question-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: capitalize;
	padding-bottom: 1rem;
}

.question-title p {
	margin-bottom: 0;
	letter-spacing: 0.25rem;
	color: hsl(209, 61%, 16%);
}
.question-btn {
	font-size: 1.5rem;
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	color: #c59d5f;
	transition: all 0.3s linear;
}
.question-btn:hover {
	transform: rotate(90deg);
}
.question-text {
	padding: 1rem 0 1.5rem 0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
	margin-bottom: 0;
}
/* hide text */
.question-text {
	display: none;
}
.show-text .question-text {
	display: block;
}
.minus-icon {
	display: none;
}
.show-text .minus-icon {
	display: inline;
}
.show-text .plus-icon {
	display: none;
}

/* footer */
footer {
	background-color: var(--bc);
	/* width: 100%; */
	height: auto;
	/* width: 80%; */
}
.footer-h1 {
	font-family: var(--title-font);
	color: var(--wc);
	/* padding: 20px; */
}
.footer-heading {
	font-family: "Sacramento", cursive;
	color: var(--wc);
}
footer p {
	color: var(--universe);
	/* padding: 20px; */
}
.colortext {
	color: brown;
	font-weight: bold;
}
.contactus label {
	color: var(--wc);
}
.footer li {
	list-style: none;
}
.bottom-row {
	background-color: brown;
}
.bottom-row p {
	color: white;
	padding: 5px;
	text-shadow: var(--ts);
}
.socials-icon i {
	padding-right: 6px;
	font-size: 25px;
}
/* back to top botton */
#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 26px;
	width: 50px;
	height: 50px;
	background-color: var(--wc);
	color: var(--bc);
	cursor: pointer;
	outline: none;
	border: 3px solid var(--bc);
	border-radius: 50%;
	transition: 0.2s ease-in-out;
	display: none;
}
#back-to-top:hover,
#back-to-top:focus {
	background-color: var(--bc);
	color: var(--wc);
}

/* animations for button */
.btnEntrance {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: btnEntrance;
}

/* zoomIn */
@keyframes btnEntrance {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.btnExit {
	animation-duration: 0.25s;
	animation-fill-mode: both;
	animation-name: btnExit;
}
/* zoomout */
@keyframes btnExit {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}

/* modal */
/* 
.modal-header,
.modal-footer {
	background-color: var(--universe);
	font-family: var(--title-font);
	text-align: center;
}
.modal-footer {
	height: 100px;
}
.activeLink {
	background-color: var(--universe);
	color: var(--bc);
}
.activeLink:hover {
	border-bottom: none;
}
.icon-form i {
	font-size: 120px;
	color: var(--universe); */
	/* box-shadow: 2px 2px 2px var(--universe); */
}

/* .navLink .active {
	color: black;
	background-color: var(--universe);
	border-radius: 10px; */
	/* border: 1px solid var(--bc); */
/* }
.navLink a {
	color: var(--bc);
}
form {
	width: 80%;
	margin: auto;
}
.inputContainer i {
	position: absolute;
}
.inputContainer {
	width: 100%;
	margin-bottom: 10px;
}
.icon {
	padding-top: 15px;
	color: var(--universe);
	text-align: left;
	font-size: 20px;
	padding-right: 20px;
}
.field {
	width: 100%; */
	/* text-align: center; */
	/* padding-left: 24px; */
	/* font-family: var(--paragraph-font);
	padding: 24px;
	font-size: 20px;
	font-weight: 500;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	border-bottom: 1px solid var(--universe);
}
.select_field {
	width: 100%;
	font-family: var(--paragraph-font);
	padding: 12px;
	font-size: 20px;
	font-weight: 200;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	border-bottom: 1px solid var(--universe);
}
.select_field
.field:focus,
.select_field:focus {
	border-bottom: 4px solid var(--universe);
	outline: none;
}
.loginForm {
	background-color: var(--universe);
	color: black;
}
.forgotpwd a {
	display: flex;
	justify-content: center;
	align-items: center;
} */
/* .field:focus .icon {
	color: var(--wc);
} */

/* end of icon form modal */
/* services section on service.php */
.services {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 90%;
	margin: auto;
	height: auto;
}
.service {
	width: 400px;
	height: 540px;
	margin: 0 10px 5px 0;
	position: relative;
	/* border: 1px solid var(--bc); */
}
.service .image {
	width: 100%;
	height: 400px;
}
.service-desc {
	text-align: center;
}
.service-text {
	width: 100%;
	height: 70px;
	background-color: var(--transparent-color);
	position: absolute;
	top: 30%;
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px;
	font-family: var(--paragraph-font);
}
/* end of service */

/* serviceicons */
.iconText {
	padding-bottom: 40px;
}
.iconText .icon {
	/* background-color: antiquewhite; */
	color: var(--universe);
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.iconText .icon-text {
	font-family: var(--paragraph-font);
	box-shadow: var(--box-shadow);
	font-size: 20px;
	text-align: center;
}
/* mobile view media queries */
@media screen and (max-width: 500px) {
	.carousel-caption {
		background-color: var(--transparent-color);
		height: 100%;
		position: absolute;
		top: 0%;
		left: 0%;
		width: 50%;
	}
	.title-slide {
		position: relative;
		top: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.arrange-text {
		/* text-align: center; */
		font-size: 18px;
		font-family: cambria;
		font-weight: 400;
		text-transform: var(--uppercase);
		background-color: green;
		width: 400px;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Dancing Script", cursive;
	}
	.title-text {
		background-color: brown;
		text-transform: var(--uppercase);
		width: 360px;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 15px;
	}
	.title-slide button {
		background-color: var(--universe);
		border: none;
		outline: none;
		width: 25%;
		height: 70px;
		border-radius: var(--curve-sides);
	}

	.booknow-inputs {
		display: block;
		height: 350px;
		margin: 0;
		width: 100%;

		/* margin-top: 25px; */
		/* margin-bottom: 10px; */
	}

	.booknow-inputs input,
	.booknow-inputs select {
		/* margin-bottom: 9px; */
		width: 100%;
	}

	.carousel-caption {
		background-color: var(--transparent-color);
		height: 60%;
		position: absolute;
		top: 24%;
		left: 10%;
		width: 80%;
	}
	/* advert */
	.advert1 {
		display: none;
	}

	/* guest room */
	.guest-room {
		flex-direction: column;
	}
	.guest-room .room {
		width: 80%;
		margin-bottom: 10px;
	}
	/* services section */
	.services {
		flex-direction: column;
	}
	.footer {
		padding: 20px;
	}
	/* highlights */
	.learn-more {
		outline: none;
		border: none;
		color: sienna;
		margin-right: 5px;
		background-color: white;
	}
	.hightlight {
		height: 130px;
		border-top: 4px solid var(--universe);
		border-bottom: 4px solid var(--universe);
		/* border-right: none; */
		/* border-left: none; */

		/* border-top-left-radius: 7px; */
		/* border-bottom-left-radius: 7px; */
		/* border-top-right-radius: 7px; */
		/* border-bottom-right-radius: 7px; */
		text-align: center;
		margin-bottom: 10px;
		width: 95%;
		/* padding: 60px; */
	}
	.hightlight span {
		color: var(--universe);
	}
}
