@import url("/assets/css/index.css");

.overlay {
	background-color: rgba(0, 0, 0, 0.308);
}

.top-image {
	width: 100%;
	height: 760px;
}
.top-image img {
	width: 100%;
	height: 100%;
}

/* Top-text */
.top-text {
	text-align: center;
	font-family: var(--title-font);
	padding-top: 30px;
}
.top-text:after {
	content: "";
	padding-top: 5px;
	width: 10%;
	border-bottom: 5px solid var(--universe);
	display: block;
	margin: auto;
}

/* rooms */

.rooms {
	/* width: 100%; */
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 30px;
}
.room {
	width: 430px;
	height: 340px;
	/* background-color: antiquewhite; */
	margin: 0 5px 10px;
	position: relative;
}
.image {
	width: 100%;
	height: 80%;
	background-color: red;
	overflow: hidden;
}
.image img {
	width: 100%;
	height: 100%;
	transition: 0.5s all ease-in;
}
.image img:hover {
	transform: scale(1.1);
}
.image a {
	width: 150px;
	height: 400px;
}
.bottom {
	width: 100%;
	height: 20%;
	background-color: brown;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-family: "Play", sans-serif;
}
.bottom button:nth-child(1) {
	background-color: transparent;
	color: white;
	outline: none;
	border: none;
	width: 70px;
	height: 30px;
	/* border: 1px solid var(--wc); */
}
.bottom button:nth-child(2) {
	background-color: var(--universe);
	color: var(--bc);
	outline: none;
	border: none;
	width: 120px;
	height: 30px;
	border: 2px solid var(--bc);
}
.bottom button:nth-child(3) {
	background-color: transparent;
	color: var(--bc);
	outline: none;
	border: none;
	width: 150px;
	height: 30px;
	border: 2px solid var(--bc);
	position: absolute;
	top: 2%;
	right: 2%;
}
/* rooms desc */
.room_desc {
	/* background-color: aliceblue; */
	padding-top: 10px;
}
.desc {
	width: 90%;
	margin: auto;
}
.desc h3 {
	font-family: "Satisfy", cursive;
}
.desc p {
	font-family: "Play", sans-serif;
	color: var(--transparent-color);
	font-size: 15px;
}
